img {
    width: 100%;
    padding: 0 10px 0 10px;

}

* {
    box-sizing: border-box;
}

body {
    background-color: #FAF7F7;

}

/* ---------------------Forside wrappers--------------------- */
#sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flexwrapper {
    flex: 0 0 33.3%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0.3rem;

    /*    box-sizing: border-box;*/
}

.flexitem:before {
    content: '';
    display: table;
    padding-top: 100%;
}

.flexitem {
    flex-grow: 1;
    background: #ffffff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor {
    cursor: pointer;
}

/* ---------------------Forside wrappers slut--------------------- */

/* ---------------------BURGER MENU--------------------- */
.hidden {
    transform: translateX(100%);
    opacity: 0;
}

.kea {
    align-self: flex-start;
    color: white;
    font-size: 2rem;
    padding-top: 1rem;
    font-weight: bold;
}



#menuknap {
    display: inline-block;
    color: white;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

header nav a:link {
    color: white;
}

header nav a:visited {
    color: white;

}

header nav a:hover {
    color: rgb(221, 0, 0);
    background-color: rgba(142, 142, 142, 0.52);
}

nav {

    padding: 0.5rem;
}

header {
    background-color: #EA5045;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem 1.9rem;
}

header li {
    margin: 0 0.6rem 0 0.6rem;

}

a {
    color: #8E8E8E;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8125rem;


}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    margin: auto;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}


/* ---------------------BURGER MENU SLUT--------------------- */
